.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 10px;
}

.whyans{
    font-size: medium;
    padding: 10px;
}

.whyUsSection{
    display: flex;
    padding: 20px;
    
}

.logo {
    width: 100px;
    height: 86px;
  }

.secAns{
    padding: 3vh;
}

.h2_class{
    font-weight: bold;
    font-size: 55px;
}